.body {
    background-color: #1F1717;
    overflow-x: hidden;
}

h2,
h3,
h5,
a,
p {
    color: #5AED83 !important;
}

a:hover {
    color: #fff !important;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

#navbarNavDropdown {
    margin-right: 230px;
}

.navbar-custom {
    width: 100%;
    height: 5rem;
    background-color: rgba(176, 172, 172, 0.11);
    backdrop-filter: blur(10px);
    border-bottom: solid 1px #999999;
}

.navbar {
    position: fixed !important;
    top: 0px;
    z-index: 100;
}

#carouselExampleDark,
#carousel-item {
    margin-left: 65px;
    width: 650px;
    height: 329px;
}

#buttonSite {
    border-radius: 25px;
    width: 150px;
    height: 40px;
    border: solid 1px #5AED83;
    color: #5AED83;
    background-color: transparent;
}

#buttonSite:hover {
    background-color: #3acf63;
    color: #fff;
    font-weight: bold;
}

#buttonGithub {
    border-radius: 25px;
    width: 150px;
    height: 40px;
    border: solid 1px #fff;
    color: #fff;
    background-color: transparent;
}

#buttonGithub:hover{
    background-color: #000;
    font-weight: bold;
}

.allProjects {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    margin-left: 65px;
}

.project {
    background-color: #C4C4C4;
    height: 190px;
    width: 300px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.imgProjects {
    height: 190px;
    width: 310px;
}

.titleProjects:hover h5 {
    color: #fff !important;
    cursor: pointer;
}

.titleProjects {
    text-decoration: none;
}

.card-footer {
    background-color: #1F1717 !important;
}

.card:hover {
    border: 1px solid #3acf63;
    box-shadow: 1px 1px 5px 1px #3acf63;
}

.card {
    width: 20rem;
}

footer {
    width: 100%;
    height: 10rem;
    background-color: rgba(176, 172, 172, 0.11);
    backdrop-filter: blur(10px);
    border-top: solid 1px #999999;
}

.zoom {
    overflow: hidden;
}

.zoom img {
    transition: all 0.3s;
}

.zoom:hover img {
    transform: scale(1.1);
}

#developed {
    text-align: right;
    margin-right: 20px;
    margin-top: 150px;
}